<% include partials/header %>
<h4> <%=city.toUpperCase() %>'s Weather Today </h4>
Temperature : <%=todaytemp%>°Celsius<br/>
Min : <%=todaymin%>°Celsius<br />
Max : <%=todaymax%>°Celsius<br/>
<br/>
<br/>

<h4> <%=city.toUpperCase() %>'s Weather Tomorrow </h4>

Temperature : <%=tom%>°Celsius<br/>
Min : <%=tommin%>°Celsius<br />
Max : <%=tommax%>°Celsius<br/>
<% include partials/footer %>
